/* BASE */
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
html {
	overflow-y: scroll;
	margin: 0px;
	padding: 0px;
}
body {
	color: #010;
	background-color: #fff;
	margin-top: 25px;
	font-size: 16px;
	font-family: "PT Serif", serif;
	margin: 0;
	padding: 0;
}
h1 {
	margin-top: 0em;
	margin-bottom: 1em;
	text-shadow: 1px 1px 1px #777;
	font-size: 28px;
	margin-top: 1em;
	margin-bottom: 0.6em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
}
a:link,
a:visited,
a:active {
	color: #000;
	text-decoration: underline;
}
a:hover {
	color: #777;
	text-decoration: none;
}

/* SPECIALS */
.forkme {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}

/* ELEMENTS */
#board {
	width: calc(30 * 20px);
	height: calc(30 * 20px);
	margin: auto;
	display: grid;
	grid-template-columns: repeat(30, auto);
	grid-gap: 0;
}

.cell {
	border: solid black 1px;
	position: relative;
	transition-duration: 0.3s;
}

.blackCell {
	background-color: black;
}

.whiteCell {
	background-color: white;
}

.selectedCell::before {
	position: absolute;
	content: "";
	right: 0;
	bottom: 0;
	top: 0;
	left: 0;
	border: solid #0c32ec 3px;
}


.nav {
	border-top: solid black 1px;
	border-bottom: solid black 1px;
	margin-bottom: 20px;
}

.nav ul {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: calc(30 * 20px);
	margin: auto;
}

.nav ul li {
	list-style-type: none;
	padding: 5px 10px;
	cursor: pointer;
	text-decoration: underline;
	position: relative;
}

.nav ul li:hover, .nav ul li.active {
	color: #777;
	text-decoration: none;
}

.nav ul li:hover::after, .nav ul li.active::after {
	content: '';
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	left: 0;
	height: 20px;
	width: 100%;
	background-color: #0c32ec26;
	animation-name: textLink;
	animation-duration: 0.3s;
}

@keyframes textLink {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}